.slider {
  position: relative;
  max-width: 1440px;
}

.slide.active {
  max-height: 100%;
}

.slide.active img {
  width: 100vw;
  max-height: 100%;
  max-width: 1440px;
  overflow: hidden;
}

.slider-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 1.7rem;
  color: #99b0c9;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 1.7rem;
  color: #99b0c9;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: transparent;
  color: #99b0c9;
}

.h2 {
  font-family: "Poppins", "Sans-serif";
  position: absolute;
  left: 75px;
  top: 35%;
  font-size: 3rem;
  color: #fff;
}

.p {
  color: #fff;
  font-weight: 500;
  max-width: 50%;
  position: absolute;
  left: 75px;
  top: 50%;
  margin-bottom: 10px;
  font-family: "Poppins", "Sans-serif";
}

.button {
  position: absolute;
  left: 75px;
  top: 82%;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1rem;
  font-family: "Poppins", "Sans-serif";
  color: white;
  font-weight: 700;
}

@media only screen and (max-width: 1440px) {
  .h2 {
    font-size: 3.2vw;
  }

  .p {
    font-size: 1.5vw;
  }

  .button {
    top: 75%;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .right-arrow,
  .left-arrow {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .slide.active img {
    height: 60vw;
  }

  .h2 {
    font-size: 1.5rem;
    top: 40%;
  }

  .p {
    display: none;
  }

  .button {
    top: 55%;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) and (max-width: 600px) {
  .h2 {
    font-size: 1.1rem;
    top: 40%;
  }

  .p {
    display: none;
  }

  .button {
    top: 65%;
    font-size: 0.7rem;
  }
}
