.bottom-links {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-family: "Poppins", "Sans-serif";
}

.bottom-square-1 {
  margin-right: 40px;
  margin-left: 10px;
  position: relative;
}

.bottom-square-2 {
  position: relative;
}

.bottom-square-1 img,
.bottom-square-2 img {
  width: 450px;
}

.bottom-square-1 h2,
.bottom-square-2 h2 {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 2rem;
  word-spacing: 3px;
  color: #fff;
}

.bottom-square-1 button,
.bottom-square-2 button {
  position: absolute;
  bottom: 15%;
  left: 5%;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", "Sans-serif";
}

.bottom-square-1 button:hover,
.bottom-square-2 button:hover {
  background-color: #fff;
  color: #291670;
  cursor: pointer;
}

@media only screen and (max-width: 1020px) {
  .bottom-links img {
    width: 325px;
  }
  .bottom-links h2 {
    font-size: 25px;
  }
  .bottom-links button {
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .bottom-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bottom-links img {
    margin: 0 auto;
    width: 65vw;
  }

  .bottom-links h2 {
    font-size: 1.8rem;
  }

  .bottom-links button {
    font-size: 0.8rem;
    padding: 10px 30px;
  }

  .bottom-square-1 {
    margin: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .bottom-links button {
    padding: 7px 25px;
  }
  .bottom-links h2 {
    font-size: 1.3rem;
  }
}
