.section-data {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", "Sans-serif";
}

.section-data h2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #291670;
  color: white;
  padding-top: 25px;
  font-size: 1.5rem;
}

.data-wrapper {
  position: relative;
  display: flex;
  background-color: #291670;
  max-width: 1440px;
  color: white;
  justify-content: space-evenly;
  padding: 40px 0;
}

.data {
  flex-direction: column;
  display: flex;
  align-content: center;
  align-items: center;
}

.data img {
  padding-bottom: 10px;
}

.data p:nth-child(2) {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 2.5rem;
  margin-left: -20px;
}

.section-square-links-top {
  margin-top: 75px;
  display: flex;
  flex: 50%;
  justify-content: center;
  font-family: "Poppins", "Sans-serif";
}

.square-links-top-right,
.square-links-bottom-right {
  padding-left: 5px;
  position: relative;
}
.square-links-bottom-left,
.square-links-top-left {
  padding-right: 5px;
  position: relative;
}

.square-links-top-left h2,
.square-links-top-right h2,
.square-links-bottom-left h2,
.square-links-bottom-right h2 {
  position: absolute;
  bottom: 75%;
  left: 7%;
  color: #fff;
  font-size: 2rem;
  word-spacing: 3px;
  font-family: "Poppins", "Sans-serif";
}
.square-links-top-left img,
.square-links-top-right img,
.square-links-bottom-left img,
.square-links-bottom-right img {
  width: 100%;
}

.square-links-top-left button,
.square-links-top-right button,
.square-links-bottom-left button,
.square-links-bottom-right button {
  position: absolute;
  bottom: 30%;
  left: 7%;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 5px;
  padding: 4% 10%;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  font-family: "Poppins", "Sans-serif";
}
.square-links-top-left button:hover,
.square-links-top-right button:hover,
.square-links-bottom-left button:hover,
.square-links-bottom-right button:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #291670;
  cursor: pointer;
}

.slider {
  width: 100vw;
}

.square-links-top-right {
  padding-left: 5px;
}
.section-square-links-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display: flex;
}

.square-links-bottom-left {
  padding-right: 5px;
}

.square-links-bottom-right {
  padding-left: 5px;
}

.section-inspired-details-intro {
  max-width: 1440px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Poppins", "Sans-serif";
}

.section-inspired-details-intro h3 {
  margin-top: 75px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: #291670;
  margin-left: 10px;
  margin-right: 10px;
}
.section-inspired-details-intro p {
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  color: #000;
  text-align: justify;
}

.section-inspired-details-top,
.section-inspired-details-bottom {
  position: relative;
  display: flex;
  max-width: 1440px;
  color: black;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

.section-inspired-details-top-sub,
.section-inspired-details-bottom-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  text-align: center;
  font-family: "Poppins", "Sans-serif";
}

.section-inspired-details-top-sub:first-of-type,
.section-inspired-details-bottom-sub:first-of-type {
  margin-left: 10px;
}

.section-inspired-details-top-sub:last-of-type,
.section-inspired-details-bottom-sub:last-of-type {
  margin-right: 10px;
}

.section-inspired-details-top-sub h4,
.section-inspired-details-bottom-sub h4 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-inspired-details-top-sub img,
.section-inspired-details-bottom-sub img {
  width: 50px;
}

@media only screen and (max-width: 1440px) {
  .section-inspired-details-intro {
    text-align: justify;
  }
}
@media only screen and (max-width: 1210px) {
  .section-square-links-top,
  .section-square-links-bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .section-square-links-top img,
  .section-square-links-bottom img {
    max-width: 500px;
  }

  .section-square-links-top h2,
  .section-square-links-bottom h2 {
    font-size: 1.7rem;
  }

  .section-square-links-top button,
  .section-square-links-bottom button {
    padding: 10px 40px;
  }

  .square-links-top-right,
  .square-links-bottom-right {
    padding: 0;
    margin-top: 30px;
  }
  .square-links-top-left,
  .square-links-bottom-left {
    padding: 0;
  }

  .section-inspired-details-top-sub,
  .section-inspired-details-bottom-sub {
    margin-bottom: 20px;
    max-width: 100vw;
  }

  .section-inspired-details-intro p {
    max-width: 100vw;
  }
}

@media only screen and (max-width: 1020px) {
  .section-inspired-details-intro h3 {
    font-size: 1.2rem;
  }
  .section-inspired-details-intro p {
    font-size: 0.9rem;
  }

  .section-inspired-details-top-sub p,
  .section-inspired-details-bottom-sub p {
    font-size: 0.9rem;
  }
  .section-inspired-details-top-sub h4,
  .section-inspired-details-bottom-sub h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .square-links-top-left h2,
  .square-links-top-right h2,
  .square-links-bottom-left h2,
  .square-links-bottom-right h2 {
    font-size: 10;
  }

  .section-data .data-wrapper {
    flex-direction: column;
  }

  .data-wrapper .data img {
    width: 60px;
  }
  .data-wrapper .data p:first-of-type {
    font-size: 40px;
  }
  .data-wrapper .data p:last-of-type {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .section-data h2 {
    font-size: 30px;
  }

  .section-inspired-details-top,
  .section-inspired-details-bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .section-inspired-details-top {
    margin-bottom: 0px;
  }

  .section-inspired-details-top-sub,
  .section-inspired-details-bottom-sub {
    padding-bottom: 50px;
  }

  .section-inspired-details-top-sub:nth-last-of-type(1) {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .section-square-links-top h2,
  .section-square-links-bottom h2 {
    font-size: 6vw;
    padding-top: 60px;
  }

  .section-data .data-wrapper {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .data-wrapper .data img {
    width: 50px;
  }
  .data-wrapper .data p:first-of-type {
    font-size: 30px;
  }
  .data-wrapper .data p:last-of-type {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .section-data h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .section-square-links-top h2,
  .section-square-links-bottom h2 {
    font-size: 6vw;
    padding-top: 60px;
  }

  .section-inspired-details-bottom {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 400px) {
  .section-square-links-top button,
  .section-square-links-bottom button {
    padding: 10px 25px;
    font-size: 0.8rem;
  }
}
