.contact-intro p {
  line-height: 25px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1440px;
  position: relative;
}

.contact-section-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.contact-input {
  margin-bottom: 15px;
}

.input-decoration[type="text"] {
  width: 750px;
  height: 40px;
}

input[type="text"],
textarea {
  background-color: #d3dde8;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  width: 750px;
  height: 150px;
}

.contact-button {
  border: 1px solid #fff;
  background-color: #291670;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

.google-map {
  width: 100%;
  height: 30vh;
}

.map-wrapper {
  max-width: 1440px;
}

@media only screen and (max-width: 760px) {
  .input-decoration[type="text"] {
    width: 90vw;
  }

  .contact-input input[type="text"],
  textarea {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 800px) {
  .contact-intro p {
    font-size: 0.9rem;
  }

  input[type="text"],
  textarea {
    font-size: 0.9rem;
  }
}
