.navbar-icons {
  background-color: #291670;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}
.navbar-icons img {
  width: 40px;
  padding: 3px 10px;
  vertical-align: middle;
  margin: 3px 0;
  right: 10px;
}

.navbar-main {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  background-color: #fff;
}

.navbar-main .hamburguer {
  display: none;
  position: absolute;
  right: 0;
}

.navbar-main-link {
  display: flex;
}

.navbar-main-link ul {
  padding-top: 10px;
  padding-left: 0;
}

.navbar-main-link li {
  display: inline-block;
  padding-right: 50px;
  margin: 0;
  padding-left: 20px;
  text-transform: uppercase;
}

.navbar-main-link a {
  font-family: "Merriweather", "serif";
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  color: #291670;
  text-decoration: none;
}

.navbar-main-link a:hover {
  color: #291670;
}

.navbar-main-link a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  top: 17px;
  left: 0;
  background-color: #99b0c9;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-main-link a:hover::before {
  transform: scaleX(1);
}

.navbar-main .logo {
  left: 10px;
  position: absolute;
  top: 4px;
}

.navbar-main-search {
  background-color: #99b0c9;
  height: 64px;
  width: 64px;
  margin: 0;
  display: flex;
}

.navbar-main-search img {
  margin: auto;
}
.search {
  position: absolute;
  width: 60px;
  height: 100%;
  background-color: #849fbc;
  transition: 0.5s;
  right: 0;
}

.search .icon {
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  cursor: pointer;
}

.search.active {
  width: 250px;
  display: flex;
  align-items: center;
}

.proc {
  display: block;
  align-items: center;
  overflow: hidden;
}

.noproc {
  display: none;
}

#procurar {
  width: 190px;
  background-color: #849fbc;
  border: none;
  padding-left: 20px;
  outline: none;
  color: white;
}

#procurar::placeholder {
  color: white;
}

.navbar-li:nth-child(5) {
  display: none;
}

@media screen and (max-width: 850px) {
  .navbar-main {
    padding: 60px 0 0 0;
    height: 100%;
  }

  .navbar-main-link {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 0px;
  }
  .navbar-main-link li {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-li:nth-child(1) {
    border-top: 1px solid #291670;
    margin-top: 30px;
  }

  .navbar-li {
    border-bottom: 1px solid #291670;
    padding: 10px 0;
    text-align: center;
    margin-right: 0px;
  }

  .navbar-li:nth-child(5) {
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    display: block;
  }
  .navbar-li input[type="text"],
  textarea {
    font-size: 1.1rem;
    opacity: 0.5;
    padding: 3px;
    background-color: #849fbc;
    resize: none;
    outline: none;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .navbar-li input[type="text"],
  textarea::placeholder {
    color: #fff;
    padding-left: 5%;
  }
  .navbar-li input::placeholder {
    color: #fff;
  }

  .navbar-li button {
    position: absolute;
    bottom: 1%;
    left: 95%;
    border: none;
    background-color: transparent;
  }

  .navbar-main-link a::before {
    content: "";
    position: none;
    display: none;
    width: none;
    height: none;
    top: none;
    left: none;
    background-color: none;
    transform: none;
    transition: none;
  }

  .navbar-main-link a:hover::before {
    transform: none;
  }

  .navbar-main .hamburguer {
    border: none;
    background-color: #fff;
    display: block;
    top: 15px;
    border: none;
  }

  .navbar-main .hamburguer img {
    width: 30px;
  }
  .navbar-main .hamburguer:hover {
    background-color: transparent;
  }

  .search {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .navbar-main {
    justify-content: flex-start;
  }
  .navbar-main-link li {
    padding-right: 5px;
  }
  .navbar-main-link {
    padding-left: 50px;
  }
}

@media screen and (max-width: 850px) {
  .navbar-main-link {
    padding-left: 0px;
  }
}
