.cookies {
  max-width: 1440px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.cookies h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #849fbc;
}

.cookies p {
  line-height: 25px;
  margin-bottom: 50px;
}

.cookies p:nth-child(7) {
  margin-bottom: 20px;
}

.cookies li {
  margin-bottom: 20px;
  list-style-type: none;
}

.cookies li:last-child {
  margin-bottom: 50px;
}

.cookies-moreinfo {
  margin-bottom: 50px;
}

.cookies-moreinfo p {
  margin-bottom: 15px;
}

.cookies-moreinfo a {
  text-decoration: none;
  color: #849fbc;
  margin-bottom: 50px;
}

.cookies strong {
  font-weight: 500;
}

@media only screen and (max-width: 950px) {
  .cookies {
    font-size: 0.9rem;
  }

  .cookies h2 {
    font-size: 1.2rem;
  }
}
