.politica {
  max-width: 1440px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
}

.politica a {
  color: #849fbc;
  text-decoration: none;
}

.politica h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #849fbc;
}

.politica h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #849fbc;
}

.politica p {
  line-height: 25px;
  margin-bottom: 30px;
}

.politica li {
  line-height: 25px;
  margin-bottom: 20px;
  list-style-type: inherit;
}

.politica-contacto p {
  margin-bottom: inherit;
}

.politica strong {
  font-weight: 500;
}

@media only screen and (max-width: 950px) {
  .politica {
    font-size: 0.9rem;
  }

  .politica h2 {
    font-size: 1.2rem;
  }
  .politica h3 {
    font-size: 1.1rem;
  }
}
