main {
  width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: "Merriweather", "serif";
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #291670;
}

#intro-mission {
  line-height: 25px;
  margin-bottom: 70px;
}

.section-mission-1,
.section-mission-2 {
  display: flex;
  width: 1440px;
  margin-bottom: 70px;
  align-items: center;
}

.section-mission-1 img,
.section-mission-2 img {
  margin-left: 20px;
  width: 400px;
}

.section-mission-2 img {
  margin-right: 20px;
  width: 500px;
  margin-left: 150px;
}

.section-mission-1 h2,
.section-mission-2 h2 {
  font-size: 1.3rem;
  margin-bottom: 25px;
  color: #291670;
}

.section-mission-1 p:first-of-type {
  margin-bottom: 25px;
}

.section-mission-1 p {
  margin-bottom: 20px;
  line-height: 25px;
  text-align: justify;
}

.section-mission-2 {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 50px;
  margin-bottom: 100px;
}

.section-mission-2 li {
  line-height: 35px;
  left: 50px;
}

.section-mission-2-list {
  padding-left: 20px;
}

.mission-bottom-links {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.mission-bottom-square-1 {
  margin-right: 40px;
  position: relative;
}
.mission-bottom-square-2 {
  position: relative;
}

.mission-bottom-square-1 img,
.mission-bottom-square-2 img {
  width: 450px;
}

.mission-bottom-square-1 h2,
.mission-bottom-square-2 h2 {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 2rem;
  word-spacing: 3px;
  font-family: "Merriweather", "serif";
  color: #fff;
}

.mission-bottom-square-1 button,
.mission-bottom-square-2 button {
  position: absolute;
  bottom: 15%;
  left: 5%;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

.mission-bottom-square-1 button:hover,
.mission-bottom-square-2 button:hover {
  background-color: #fff;
  color: #291670;
  cursor: pointer;
}
