main {
  width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: "Merriweather", "serif";
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #291670;
}

#intro-mission {
  line-height: 25px;
  margin-bottom: 70px;
}

.section-mission-1,
.section-mission-2 {
  display: flex;
  width: 1440px;
  margin-bottom: 70px;
  align-items: center;
}

.section-mission-1 img,
.section-mission-2 img {
  margin-left: 20px;
  width: 400px;
}

.section-mission-2 img {
  margin-right: 20px;
  width: 500px;
  margin-left: 150px;
}

.section-mission-1 h2,
.section-mission-2 h2 {
  font-size: 1.3rem;
  margin-bottom: 25px;
  color: #291670;
}

.section-mission-1 p:first-of-type {
  margin-bottom: 25px;
}

.section-mission-1 p {
  margin-bottom: 20px;
  line-height: 25px;
  text-align: justify;
}

.section-mission-2 {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 50px;
  margin-bottom: 100px;
}

.section-mission-2 li {
  line-height: 35px;
  left: 50px;
}

.section-mission-2-list {
  padding-left: 20px;
}
