main {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", "Sans-serif";
}

#intro-mission {
  line-height: 25px;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
}

.section-mission-1,
.section-mission-2 {
  display: flex;
  max-width: 1440px;
  margin-bottom: 70px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.section-mission-1 img,
.section-mission-2 img {
  margin-left: 20px;
  width: 400px;
}

.section-mission-2 img {
  margin-right: 20px;
  width: 500px;
  margin-left: 150px;
}
.section-mission-1 img {
  margin-left: 50px;
}

.section-mission-1 h2,
.section-mission-2 h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 25px;
  color: #291670;
}

.section-mission-1 p:first-of-type {
  margin-bottom: 25px;
}

.section-mission-1 p {
  margin-bottom: 20px;
  line-height: 25px;
  text-align: justify;
  font-size: 1.1rem;
}

.section-mission-2 {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-right: 50px;
  margin-bottom: 100px;
}

.section-mission-2 li {
  line-height: 35px;
  left: 50px;
  font-size: 1.1rem;
}

.section-mission-2-list {
  padding-left: 20px;
}

@media only screen and (max-width: 1200px) {
  .section-mission-2 img {
    margin-right: 20px;
    width: 350px;
    margin-left: 100px;
  }

  #intro-mission,
  .section-mission-1 p,
  .section-mission-2 li {
    font-size: 1rem;
  }

  .section-mission-1 h2,
  .section-mission-2 h2 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 950px) {
  #intro-mission,
  .section-mission-1 p,
  .section-mission-2 li {
    font-size: 0.9rem;
  }

  .section-mission-1 h2,
  .section-mission-2 h2 {
    font-size: 0.9rem;
  }

  .section-mission-2 img {
    margin-right: 15px;
    width: 275px;
    margin-left: 10px;
  }
  .section-mission-1 img {
    width: 275px;
  }
}

@media only screen and (max-width: 700px) {
  .section-mission-1,
  .section-mission-2 {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .section-mission-1 img,
  .section-mission-2 img {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .section-mission-1 h2,
  .section-mission-2 h2 {
    text-align: center;
  }

  .section-mission-1 img {
    width: 275px;
  }
  .section-mission-2 {
    padding-right: 0px;
  }
  .section-mission-2 li {
    padding-left: 0px;
    text-align: center;
  }

  .section-mission-2-list {
    padding-left: 0px;
  }

  #intro-mission {
    margin-bottom: 30px;
  }
}
