.intro-ribbon p {
  margin-bottom: 50px;
}

.ribbon-applications {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.ribbon-applications h2 {
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: #291670;
}

.ribbon-applications img {
  width: 500px;
  margin-left: 60px;
}

.ribbon-applications ul {
  margin-right: 60px;
  padding-left: 25px;
}

.ribbon-bottom-links {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.ribbon-bottom-square-1 {
  margin-right: 40px;
  position: relative;
}
.ribbon-bottom-square-2 {
  position: relative;
}

.ribbon-bottom-square-1 img,
.ribbon-bottom-square-2 img {
  width: 450px;
  height: 264.11px;
}

.ribbon-bottom-square-1 h2,
.ribbon-bottom-square-2 h2 {
  position: absolute;
  top: 15%;
  left: 5%;
  font-size: 2rem;
  word-spacing: 3px;
  font-family: "Merriweather", "serif";
  color: #fff;
}

.ribbon-bottom-square-1 button,
.ribbon-bottom-square-2 button {
  position: absolute;
  bottom: 15%;
  left: 5%;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

.ribbon-bottom-square-1 button:hover,
.ribbon-bottom-square-2 button:hover {
  background-color: #fff;
  color: #291670;
  cursor: pointer;
}
